@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 60 3.53% 16.67%;
    --foreground: 60 5.45% 89.22%;
    --card: 45 6.25% 12.55%;
    --card-foreground: 60 5.45% 89.22%;
    --popover: 48 8.2% 11.96%;
    --popover-foreground: 60 5.45% 89.22%;
    --primary: 18.28 57.14% 43.92%;
    --primary-foreground: 0 0% 100%;
    --secondary: 249.6 25.25% 19.41%;
    --secondary-foreground: 46.67 8.41% 79.02%;
    --muted: 45 5.41% 14.51%;
    --muted-foreground: 51.43 8.86% 69.02%;
    --accent: 48 10.64% 9.22%;
    --accent-foreground: 51.43 25.93% 94.71%;
    --destructive: 0 84.24% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 60 5.08% 23.14%;
    --input: 52.5 5.13% 30.59%;
    --ring: 210 74.8% 49.8%;
    --chart-1: 18.28 57.14% 43.92%;
    --chart-2: 249.6 25.25% 19.41%;
    --chart-3: 48 10.64% 9.22%;
    --chart-4: 248.28 25.22% 22.55%;
    --chart-5: 17.78 60% 44.12%;
    --sidebar-background: 48 8.2% 11.96%;
    --sidebar-foreground: 60 9% 95%;
    --sidebar-primary: 18.28 57.14% 43.92%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 18.28 57.14% 43.92%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 60 5.08% 23.14%;
    --sidebar-ring: 210 74.8% 49.8%;
    --font-sans: undefined;
    --font-serif: undefined;
    --font-mono: undefined;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
